* {
  box-sizing: border-box;
}
body {
  background-color: #000;
  margin: 0;
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  overflow: hidden;
}
main {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  max-height: calc(100vw / 1.77);
}
#divider {
  border: #fff 2px dashed;
  height: 100%;
}
.score {
  flex: 1;
  text-align: center;
  font-size: 3em;
  display: flex;
  flex-direction: column;
}
.score small {
  font-size: 1rem;
}
.player {
  background-color: #fff;
  width: 1%;
  height: 10%;
  position: absolute;
  top: calc(50% - calc(10% / 2));
}
#player-1 {
  left: 5%;
}
#player-2 {
  right: 5%;
}
#ball {
  background-color: #fff;
  width: 2%;
  height: calc(2% * 1.77);
  position: absolute;
  top: calc(50% - calc(calc(2% * 1.77) / 2));
  left: calc(50% - calc(2% / 2));
}
.overlay {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: none;

  justify-content: center;
  align-items: center;
  text-align: center;
}
.overlay h1 {
  font-size: 6em;
}
.overlay button {
  background-color: rgba(0, 0, 0, 0.8);
  border: #fff 2px solid;
  color: #fff;
  padding: 2% 5%;
  font-size: 2em;
}
.overlay button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.overlay button:active {
  background-color: rgba(255, 255, 255, 0.75);
  color: #000;
}
#start {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
nav {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  z-index: 2;
}
nav button {
  background-color: rgba(0, 0, 0, 0.8);
  border: #fff 2px solid;
  color: #fff;
}
#options {
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
}
.field {
  display: flex;
  flex-direction: column;
  margin: 10%;
  width: 50%;
}
.field label {
  font-size: 0.9rem;
}
input {
  background-color: #000;
  border: #fff 1px solid;
  padding: 10px;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}
button:disabled {
  cursor: not-allowed !important;
}
